/*css for navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1ec7e9;
  }
  
  nav li {
    display: inline-block
  }
  
  nav li a {
    display: block;
    color: rgb(20, 15, 29);
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  

/*css for form*/
:root {
    --color-1: #6366f1;
    --color-1-hover: #4338ca;
    --color-2: #06b6d4;
    --color-2-hover: #0891b2;
    --text-color: #312e81;
    --status-btn-bg: #f8fafc;
    --status-btn-bg-hover: #f1f5f9;
  }
  
  body {
    /* background: linear-gradient(to left, var(--color-1), var(--color-2)); */
    background:linear-gradient(270deg, rgba(34, 255, 176, 1) 0%, rgba(12, 228, 255, 1) 37%, rgba(238, 130, 238, 1) 96%);
  }
  
  .container {
    margin: 3rem auto;
    max-width: 500px;
    background: white;
    border-radius: 1rem;
    padding: 2rem;
  }
  
  .form-input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: .5rem;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .1);
    padding: 1rem;
    box-sizing: border-box;
    color: var(--text-color);
    transition: ease-in-out .3s all;
  }
  
  .form-input::placeholder {
    color: #cbd5e1;
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--color-1);
  }
  
  .btn:focus-within,
  .form-input:focus-within {
    box-shadow: #f8fafc 0px 0px 0px 2px, #c7d2fe 0px 0px 0px 6px, #0000 0px 1px 2px 0px;
  }
  
  textarea.form-input {
    min-height: 150px;
  }
  
  .btn {
    border: 0;
    background: var(--color-1);
    padding: 1rem;
    border-radius: 25px; 
    color: white;
    cursor: pointer;
  }
  
  .btn[disabled] {
    opacity: .5;
    pointer-events: none;
  }
  
  .btn:hover {
    background: var(--color-1-hover);
    transition: ease-in-out .3s all;
  }
  
  .btn-submit {
    background-color: var(--color-2);
  }
  
  .btn-submit:hover {
    background-color: var(--color-2-hover);
  }
  
  .pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination .btn {
    width: 100%;
    text-align: center;
    margin: 0 6px;
  }
  
  .tab-status {
    display: flex;
    align-items: center;
  }
  
  .tab-status span {
    appearance: none;
    background: var(--status-btn-bg);
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tab-status span.active {
    background-color: var(--color-2);
    color: white;
  }
  
  .hidden {
    display: none;
  }

  h1{
    text-align: center;
    font-family: 'Trebuchet MS';
  }

  h3{
    margin-bottom: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*a button aligns on right used to redirect to other pages in end*/
  .btnRight{
    float: right;
    border: 0;
    background: rgb(119, 254, 0);
    padding: 1.27rem;
    border-radius: 25px; 
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  /*css for the step3 confirmation slider*/
  .confirmation-slider {
    padding:10px;
    margin-top:20px;
    border-top:1px solid rgba(0,0,0,0.1);
       background:#757575;
    text-align:center;
  }
  
  #status {
    background:#fff;
    border:1px solid #16d816;
    border-radius:26px;
    height:52px;
  }
  
  @keyframes fadein {
       from{ opacity:0; }
    to{ opacity:1; }
  }
  
  .notice { display:none; user-select:none; font-size:20px; line-height:50px; color:#45ed91; animation:fadein 4s ease; }
  
  #confirm {
    appearance:none!important;
    background:transparent;
    height:50px;
    padding:0 5px;
    width:90%;
    
  }
  
  
    input[type=range]::-webkit-slider-runnable-track {
      width: 90%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #2497E3;
      border-radius: 1px;
      border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 1px solid #2497E3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #33FF00;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #2497E3;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #2497E3;
      border-radius: 1px;
      border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 1px solid #2497E3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #33FF00;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 90%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #2497E3;
      border: 0px solid #000000;
      border-radius: 2px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
      background: #2497E3;
      border: 0px solid #000000;
      border-radius: 2px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
      margin-top: 1px;
      box-shadow: 0px 0px 0px #000000;
      border: 1px solid #2497E3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #33FF00;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #2497E3;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #2497E3;
    }
    

/* Copy textbox emoji css */
    .copy-container {
      position: relative;
      /* display: inline-block; */
    }
    .copy-icon {
      position: absolute;
      top: 35%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 1.5em;
      cursor: pointer;
    }

