ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1ec7e9;
  }
  
  nav li {
    display: inline-block
  }
  
  nav li a {
    display: block;
    color: rgb(20, 15, 29);
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  