<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>View a file🔍</title>
      <link rel="stylesheet" href="../style.css">
      <script defer src="View.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   </head>
   <body>
      <!--Navbar-->
      <div id="navbar"></div>

      <script>    //seperate navbar
          fetch("/navbar.html")
          .then(response => response.text())
          .then(data => document.getElementById("navbar").innerHTML = data);
      </script>

      <!--File selection button-->  
      <div class="container">
         <div class="tab-status">
            <span class="tab active">1</span>
            <span class="tab">2</span>
            <span class="tab">3</span>
         </div>
         <form action="#">
            <div role="tab-list">

                <div role="tabpanel" id="Step1" class="tabpanel">
                    <h1>Step 1</h1>
                    <h3 class="h3">Enter your CID</h3>
                    <input type="text" class="form-input" id="page1data1" placeholder="CID?"> <br><br> <!--<button id="page1SubmitKey" type="submit">submit</button><br>-->
                    <textarea cols="120" style="max-width: 100%; resize: none;" id="page1show1"></textarea>
                    <br> <button id="page1show1" onclick="copyText1()">Copy</button>
                    <script>
                       function copyText1() {   // Function to copy the text from the textarea
                       var textarea = document.querySelectorAll("#page1show1")
                       textarea[0].select();   // Select the text in the textarea
                       document.execCommand("copy");   // Copy the text to the clipboard
                       alert("Hash copied to clipboard!");   // Alert the user that the text has been copied
                       }
                    </script>
                 </div>
  

               <div role="tabpanel" id="Step2" class="tabpanel hidden">
                  <h1>Step 2</h1>
                  <h3 class="h3">Enter your key</h3>
                  <input type="text" class="form-input" id="page2data1" placeholder="key?"> <br><br> <button id="page2SubmitKey" type="submit">submit</button><br>
                  <textarea cols="120" style="max-width: 100%; resize: none;" id="page2show1"></textarea>
                  <br> <button id="page2show1" onclick="copyText2()">Copy</button>
                  <script>
                     function copyText2() {   // Function to copy the text from the textarea
                     var textarea = document.querySelectorAll("#page2show1")
                     textarea[0].select();   // Select the text in the textarea
                     document.execCommand("copy");   // Copy the text to the clipboard
                     alert("Hash copied to clipboard!");   // Alert the user that the text has been copied
                     }
                  </script>
               </div>
               <div role="tabpanel" id="Step3" class="tabpanel hidden">
                  <h1>Step 3</h1>
                  <h3>File Contents-</h3>
                  <!--Showing data of the file-->
                  <div style="border: 1px solid gray;" id="page3result"></div>
                  <h5 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Click to download again</h5>
                  
                     <button id="page3show1" >Download Again</button>


               </div>
            </div>
            <div class="pagination">
               <a class="btn hidden" id="prev">Previous</a>
               <a class="btn" id="next">Next</a>
               <button class="btn btn-submit hidden" id="submit">Home</button>
            </div>
         </form>
      </div>
   </body>
   <script>//auth check
      if(localStorage.Username == undefined) {
            console.log("not logged in")
            let statusDiv=document.querySelector('.container');
            statusDiv.className="null";//no class
            statusDiv.innerHTML = '<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family:verdana; font-weight:bold; font-size:25px; color: #57f309; border: #f34709; background-color: #e94f55; padding: 20px;"><p>You need to be Logged in.</p><button  onclick=login()>Login</button></div>';
        }
        function login(){
         window.location.replace("../auth/auth.html");
        }
      </script>
</html>
